@mixin button() {
  border: 0;
  cursor: pointer;
  &:disabled {
    pointer-events: none;
  }
}

body {
  background-color: #000;
  color: #fff;
  height: 100%;
  margin: 0;
}

#header {
  background-color: #ededed;
  color: #000;
  height: 25px;
  position: relative;
  top: 0;
}

#file_button {
  @include button();
  background-color: #ededed;
  height: 25px;
  position: absolute;
  top: 0;
  width: 150px;
  &:hover {
    background-color: #d3d3d3;
  }
}

#file_name {
    left: 160px;
    position: absolute;
}

#close_button {
  @include button();
  width: 50px;
  height: 25px;
  position: absolute;
  right: 0px;
  background-color: #ededed;
  font-size: 20px;
  &:hover {
    background-color: #ff0000;
    color: #ffffff;
  }
}

#contents {
  position: relative;
}

#video {
  width: 960px;
  height: 540px;
  background-color: #000000;
}

#control_area {
  left: 10px;
  position: absolute;
  top: 550px;
}

#start_time_set_button, #end_time_set_button, #trim_button {
  @include button();
  background-color: #000;
  color: #fff;
  width: 70px;
  height: 20px;
  &:disabled {
    color: #505050;
  }
  &:hover {
    background-color: #505050;
  }
}

#start_time, #end_time {
  margin-left: 5px;
}