html, body {
    height: 100%;
    margin: 0px;
}

button {
    cursor: pointer;
    border: 0;
    &:hover {
        background-color: #0000ff;
        color: #ffffff;
    }
    &:disabled {
        pointer-events: none;
    }
}

#header {
    position: relative;
}
#icon {
    height: 25px;
}
#file_button {
    width: 150px;
    height: 25px;
    position: absolute;
    left: 30px;
}
#file_name {
    position: absolute;
    left: 185px;
}
#close_button {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ffffff;
    font-size: 20px;
    &:hover {
        background-color: #ff0000;
        color: #ffffff;
    }
}

#contents {
    position: relative;
    margin: 10px;
}

#video_area {
    width: 960px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-left: auto;
}

#video {
    width: 960px;
    height: 540px;
    background-color: #000000;
}

#control_area {
    position: absolute;
    top: 580px;
}

#start_time_set_button, #end_time_set_button, #trim_button {
    width: 70px;
    height: 20px;
}

#start_time, #end_time {
    margin-left: 5px;
}