<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="utf-8")
        title VideoPlayer
        link(rel="stylesheet", href="./stylesheets/common.css")
    body
        header#header
            button#file_button Select Video File
            span#file_name
            button#close_button ×
        div#contents
            div#video_area
                video#video
            div#control_area
                div
                    span Skip Time: 
                    select#skip_time
                        option(value="0.000001") 0.000001
                        option(value="0.1") 0.1
                        option(value="1") 1
                        option(value="10", selected) 10
                        option(value="30") 30
                        option(value="60") 60
                div
                    button#start_time_set_button(disabled) Set Start
                    span#start_time
                div
                    button#end_time_set_button(disabled) Set End
                    span#end_time
                div
                    button#trim_button(disabled) Trim
        script require("./javascripts/index.js");